.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.related-products .cards-card-body ul {
  margin: 12px 0;
  padding: 0;
  list-style: none;
}

.cards.related-products .cards-card-body li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.cards.related-products .cards-card-body li img {
  width: 20px;
  aspect-ratio: 1;
  object-fit: contain;
  flex-shrink: 0;
}
